@model IEnumerable<BWBugTracker.Models.Ticket>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css">

<header class="page-header">
    <h2>Tickets</h2>

    <div class="right-wrapper text-end">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="bx bx-home-alt"></i>
                </a>
            </li>

            <li><span>Tables</span></li>

            <li><span>Advanced</span></li>

        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
    </div>
</header>

@*<!-- start: page -->
<div class="row row-gutter-sm mb-5">
    <div class="col-lg-3-5 col-xl-4-5">
        <div class="row row-gutter-sm">
            @foreach (Ticket ticket in Model.ToList())
            {
                <div class="col-sm-6 col-xl-3 mb-4">
                    <div class="card card-modern card-modern-alt-padding">
                        <div class="card-body bg-light">
                            <h3><strong>@ticket.Title</strong></h3>
                            <h4 class="text-4 line-height-2 mt-0 mb-2">@ticket.Description</h4>
                            <h3>@ticket.Project?.Name</h3>
                            <a asp-action="PortoDetails" asp-route-id="@ticket.Id" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>*@

<div class="row">
	<div class="col">
		<section class="card">
			<header class="card-header">
				<div class="card-actions">
					<a href="#" class="card-action card-action-toggle" data-card-toggle></a>
					<a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
				</div>

				<h2 class="card-title">All Tickets</h2>
			</header>
			<div class="card-body">

				<table class="table table-bordered table-striped mb-0" id="ticketsTable">

					<thead>
						<tr>
							<th>Name</th>
							<th>Description</th>
							<th>Project</th>
							<th>Options</th>
						</tr>
					</thead>
					<tbody>
						@foreach (Ticket ticket in Model)
						{
							<tr>
								<td>@ticket.Title</td>
								<td>@ticket.Description</td>
								<td>@ticket.Project?.Name</td>
								<td><a asp-action="PortoDetails" asp-route-id="@ticket.Id" class="btn btn-primary">Details</a></td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</section>
	</div>
</div>

@section scripts
{
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            let dataTable = $('#ticketsTable').DataTable();
        });

    </script>
}