@model IEnumerable<Ticket>

@using BWBugTracker.Services.Interfaces

@inject IBTFileService _BTFileService

<link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css">

<div class="page-header">
    <h2>Tickets</h2>
</div>

<div class="row">
    <div class="col">

        <div class="card card-modern">
            <div class="card-body">
                <div class="datatables-header-footer-wrapper">
                    <div class="datatable-header">
                        <div class="row align-items-center mb-3">

                            <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                                <a asp-action="Create" class="btn btn-primary btn-md font-weight-semibold btn-py-2 px-4">+ Create Ticket</a>
                            </div>
                            @*<div class="col-12 col-lg-auto ps-lg-1">
                                <div class="search search-style-1 search-style-1-lg mx-lg-auto">
                                    <div class="input-group">
                                        <input type="text" class="search-term form-control" name="search-term" id="search-term" placeholder="Search Order">
                                        <button class="btn btn-default" type="submit"><i class="bx bx-search"></i></button>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </div>

                    <table id="ticketsTable" class="table table-ecommerce-simple table-borderless table-striped mb-0" style="min-width: 640px;">
                        <thead>
                            <tr>
                                <th width="8%">Name</th>
                                <th width="28%">Description</th>
                                <th width="15%">Project</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Ticket ticket in Model)
                            {
                                <tr>
                                    <td><a asp-action="PortoDetails" asp-route-id="@ticket.Id"><strong>@ticket.Title</strong></a></td>
                                    <td><a asp-action="PortoDetails" asp-route-id="@ticket.Id"><strong>@ticket.Description</strong></a></td>
                                    <td><a asp-action="PortoDetails" asp-route-id="@ticket.Id"><strong>@ticket.Project!.Name</strong></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <hr class="solid mt-5 opacity-4">
                    <div class="datatable-footer">
                        <div class="row align-items-center justify-content-between mt-3">
                            <div class="col-md-auto order-1 mb-3 mb-lg-0">
                                <div class="d-flex align-items-stretch">
                                    <div class="d-grid gap-3 d-md-flex justify-content-md-end me-4">
                                        <select class="form-control select-style-1 bulk-action" name="bulk-action" style="min-width: 170px;">
                                            <option value="" selected>Bulk Actions</option>
                                            <option value="delete">Delete</option>
                                        </select>
                                        <a href="ecommerce-orders-detail.html" class="bulk-action-apply btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3">Apply</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-auto text-center order-3 order-lg-2">
                                <div class="results-info-wrapper"></div>
                            </div>
                            <div class="col-lg-auto order-2 order-lg-3 mb-3 mb-lg-0">
                                <div class="pagination-wrapper"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: page -->
</div>

@section Scripts
    {
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            let dataTable = $('#ticketsTable').DataTable();

            $('.dataTables_filter input')
            .attr('placeholder', 'Search...')
            .addClass('form-control rounded-pill');

            $('a.paginate_button')
            .addClass('btn btn-primary m-1');
        });

    </script>

    }