@model IEnumerable<BWBugTracker.Models.Ticket>

<header class="page-header">
    <h2>Tickets</h2>
</header>

<!-- start: page -->
<div class="row">
    <div class="col">

        <div class="card card-modern">
            <div class="card-body">
                <div class="datatables-header-footer-wrapper">
                    <div class="datatable-header">
                        <div class="row align-items-center mb-3">
                            <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                                <a asp-action="Create" class="btn btn-primary btn-md font-weight-semibold btn-py-2 px-4">+ Create Ticket</a>
                            </div>
                        </div>
                    </div>

                    <table id="ticketsTable" class="table table-ecommerce-simple table-borderless table-striped mb-2" style="min-width: 640px;">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Project</th>
                                <th>Created Date</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Ticket ticket in Model)
                            {
                                <tr>
                                    <td>@ticket.Title</td>
                                    <td>@ticket.Description</td>
                                    <td>@ticket.Project.Name</td>
                                    <td>@ticket.Created</td>
                                    <td class="d-flex" style="justify-content:space-evenly">
                                        <a asp-action="PortoDetails" asp-route-id="@ticket.Id" class="btn btn-primary">Details</a>
                                        <a asp-action="PortoEdit" asp-route-id="@ticket.Id" class="btn btn-primary">Edit</a>
                                        <a asp-action="Delete" asp-route-id="@ticket.Id" class="btn btn-primary">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="datatable-footer">
                        <div class="row align-items-center justify-content-between mt-3">
                            <div class="col-lg-auto text-center order-3 order-lg-2">
                                <div class="results-info-wrapper"></div>
                            </div>
                            <div class="col-lg-auto order-2 order-lg-3 mb-3 mb-lg-0">
                                <div class="pagination-wrapper"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: page -->

@section Scripts
    {
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            let dataTable = $('#ticketsTable').DataTable();
        });

    </script>

    }