@model IEnumerable<ManageUserRolesViewModel>

<div class="page-header">
    <h2>Manage Roles</h2>
</div>

<div class="row">
    <p class="text-muted font-13 m-b-30">
        This form displays the current roles assigned to each user.
        Use the dropdown to select the roles this user should be assigned.
        Once roles are selected, click "Assign Roles" to submit the form.
    </p>
    <div class="row">
        @foreach (var viewModel in Model)
        {
            <div class="card col-12 col-md-3 my-2">
                <div class="card-body">
                    <form asp-action="ManageUserRoles" asp-controller="Companies" method=post>
                        <input type="hidden" asp-for="@viewModel.BTUser.Id" />
                        <div class="form-group">
                            <label asp-for="@viewModel.Roles" class="custom-label">
                                <h4>
                                    @viewModel.BTUser.FullName
                                </h4>
                            </label>
                            <select asp-for="@viewModel.SelectedRoles" class="form-control" asp-items="@viewModel.Roles">
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Assign Role" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
</div>