@model IEnumerable<BWBugTracker.Models.Project>

@using BWBugTracker.Services.Interfaces
@using BWBugTracker.Models.Enums
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@inject IBTFileService _BTFileService
@inject IBTProjectService _BTProjectService

<link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css">

@{
    ViewData["Title"] = "Index";
}

<div class="page-header">
    <h2>Projects</h2>
</div>

<!-- start: page -->
<div class="row">
    <div class="col">

        <div class="card card-modern">
            <div class="card-body">
                <div class="datatables-header-footer-wrapper">
                    <div class="datatable-header">
                        <div class="row align-items-center mb-3">
                            <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                                <a asp-action="Create" class="btn btn-primary btn-md font-weight-semibold btn-py-2 px-4">+ Create Project</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="projectsTable" class="table table-ecommerce-simple table-borderless dt-responsive table-striped mb-0" style="min-width: 640px;">
                            <thead>
                                <tr>
                                    <th width="15%">Project</th>
                                    <th width="30%">Description</th>
                                    <th width="12%">Start Date</th>
                                    <th width="12%">End Date</th>
                                    <th width="12%">Image</th>
                                    @if (User.IsInRole("ProjectManager") || User.IsInRole("Admin"))
                                    {
                                        <th width="20%">Options</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Project project in Model)
                                {
                                    <tr>
                                        <td><a asp-controller="Projects" asp-action="Details" asp-route-id="@project.Id"><strong>@Html.DisplayFor(modelItem => project.Name)</strong></a></td>
                                        <td>@Html.DisplayFor(modelItem => project.Description)</td>
                                        <td>@Html.DisplayFor(modelItem => project.StartDate)</td>
                                        <td>@Html.DisplayFor(modelItem => project.EndDate)</td>
                                        <td><img class="img-fluid border rounded-3 m-2" style="max-height: 250px;" src="@_BTFileService.ConvertByteArrayToFile(project.ImageFileData!, project.ImageFileType!, (int)DefaultImage.ProjectImage)" /></td>

                                        @if (User.IsInRole("ProjectManager") || User.IsInRole("Admin"))
                                        {
                                            <td class="h-100" width="10%">
                                                @if (User.IsInRole("Admin"))
                                                {
                                                    <a asp-action="AssignPM" asp-route-id="@project.Id" class="btn btn-primary m-1">Assign PM</a>
                                                }
                                                <a asp-action="PortoDetails" asp-route-id="@project.Id" class="btn btn-primary m-1">Details</a>
                                                <a asp-action="PortoEdit" asp-route-id="@project.Id" class="btn btn-primary m-1">Edit</a>
                                                <a asp-action="Delete" asp-route-id="@project.Id" class="btn btn-primary m-1">Delete</a>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <hr class="solid mt-5 opacity-4" />
                    <div class="datatable-footer">
                        <div class="row align-items-center justify-content-between mt-3">
                            <div class="col-md-auto order-1 mb-3 mb-lg-0">
                                <div class="d-flex align-items-stretch">
                                    <div class="d-grid gap-3 d-md-flex justify-content-md-end me-4">
                                        <select class="form-control select-style-1 bulk-action" name="bulk-action" style="min-width: 170px;">
                                            <option value="" selected>Bulk Actions</option>
                                            <option value="delete">Delete</option>
                                        </select>
                                        <a href="ecommerce-orders-detail.html" class="bulk-action-apply btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3">Apply</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-auto text-center order-3 order-lg-2">
                                <div class="results-info-wrapper"></div>
                            </div>
                            <div class="col-lg-auto order-2 order-lg-3 mb-3 mb-lg-0">
                                <div class="pagination-wrapper"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: page -->
</div>

@section Scripts
    {
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            let dataTable = $('#projectsTable').DataTable();

            $('.dataTables_filter input')
                .attr('placeholder', 'Search...')
                .addClass('form-control rounded-pill');

            $('a.paginate_button')
                .addClass('btn btn-primary m-1');
        });

    </script>

    }