@model BTUser

@using BWBugTracker.Services.Interfaces
@using BWBugTracker.Models.Enums;

@inject IBTFileService _BTFileService

<link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">

@{
    ViewData["Title"] = "My Projects";
}

<div class="page-header">
    <h2>My Projects</h2>
</div>

<div class="row">
    <div class="col">

        <div class="card card-modern">
            <div class="card-body">
                <div class="datatables-header-footer-wrapper">
                    <div class="datatable-header">
                        <div class="row align-items-center mb-3">
                            <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                                <a asp-action="Create" class="btn btn-primary btn-md font-weight-semibold btn-py-2 px-4">+ Create Project</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="projectsTable" class="table table-ecommerce-simple table-borderless dt-responsive table-striped mb-0" style="min-width: 640px;">
                            <thead>
                                <tr>
                                    <th>Project</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    @if (User.IsInRole("ProjectManager") || User.IsInRole("Admin"))
                                    {
                                        <th>Options</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Project project in Model.Projects)
                                {
                                    <tr>
                                        <td><a asp-controller="Projects" asp-action="PortoDetails" asp-route-id="@project.Id"><strong>@Html.DisplayFor(modelItem => project.Name)</strong></a></td>
                                        <td>@Html.DisplayFor(modelItem => project.StartDate)</td>
                                        <td>@Html.DisplayFor(modelItem => project.EndDate)</td>
                                        @if (User.IsInRole("ProjectManager") || User.IsInRole("Admin"))
                                        {
                                            <td class="d-flex justify-content-stretch">
                                                <a asp-action="PortoDetails" asp-route-id="@project.Id" class="btn btn-primary mx-1">Details</a>
                                                <a asp-action="PortoEdit" asp-route-id="@project.Id" class="btn btn-primary mx-1">Edit</a>
                                                <a asp-action="Delete" asp-route-id="@project.Id" class="btn btn-primary mx-1">Delete</a>
                                                @if (User.IsInRole("Admin"))
                                                {
                                                    <a asp-action="AssignPM" asp-route-id="@project.Id" class="btn btn-primary mx-1">Assign PM</a>
                                                }
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: page -->
</div>

@section Scripts
    {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            let dataTable = $('#projectsTable').DataTable();

            $('.dataTables_filter input')
                .attr('placeholder', 'Search...')
                .addClass('form-control rounded-pill me-5 pe-5')

            $('.dataTables_length select')
                .addClass('pe-3')

            $('.paginate_button')
                .addClass('btn btn-primary')
        });

    </script>

    }