@model BWBugTracker.Models.Invite

@using Microsoft.AspNetCore.Identity
@using BWBugTracker.Services.Interfaces
@using BWBugTracker.Models.Enums

@inject UserManager<BTUser> UserManager
@inject IBTRolesService _rolesService
@inject IBTTicketService _btProjectService
@inject IBTFileService _btFileService

<div class="page-header">
    <h2>Invite Details</h2>
</div>

<div class="row mb-4">
    <div class="col-12 col-md-6 mb-4">
        <div class="card card-modern">
            <div class="card-header">
                <h1 class="card-title">@(Model.InviteeFirstName + " " + Model.InviteeLastName)</h1>
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col mb-2">
                        <h4>Invitee Email</h4>
                        <p>@Model.InviteeEmail</p>
                    </div>
                    <div class="form-group col mb-2">
                        <h4>Invite Date</h4>
                        <p>@Model.InviteDate</p>
                    </div>
                    <div class="form-group col mb-2">
                        <h4>Join Date</h4>
                        <p>@Model.JoinDate</p>
                    </div>
                    <div class="form-group col mb-2">
                        <h4>Invitor</h4>
                        <p>@Model.Invitor.FullName</p>
                    </div>
                    <div class="row action-buttons">
                        <div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0 ms-3">
                            <a asp-action="PortoIndex" class="btn btn-primary">
                                Back to List
                            </a>
                        </div>
                        <div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0 ms-3">
                            <a asp-action="Delete" asp-route-id="@Model.Id" class="delete-button btn btn-danger">
                                <i class="bx bx-trash text-4 me-2"></i>
                                Cancel Invite
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>